body {
	background-image: url(hcd.jpg);
	background-repeat: none;
	background-attachment: fixed;
}

#outerBox{
	width: 1200px;
	height: 950px;
	margin: 30px auto;
	border-width: 0px 0px 0px 0px;
	background-color: #F5DEB3;
	background-color: rgba(250, 250, 250, .85);
	text-align: center;
}

#headerBox{
	width: 1200px;
	margin: 5px auto;
	float: right;
	text-align: center;
}

#preBoxButtons{
	width: 1000;
	height: 35px;
	float: left;
	margin-top: 435px;
	padding: 10px;
	background-color: #F5DEB3;
	background-color: rgba(250, 250, 250, .85);
	
}

#boxButtons{
	width: 40px;
	height: 35px;
	float: left;
	margin-top: 435px;
	padding: 10px;
	background-color: #F5DEB3;
	background-color: rgba(250, 250, 250, .85);
	
}

#bio{
	width: 1200px;
	height: 325px;
	float:left;
	margin: 30px auto;
}

h{
	font-size: 40pt;
	font-family: monospace;

}

p{
	font-size: 13pt;
	font-family: monospace;
	
}

p.clear{
	clear: both;
	height: 0;
	margin: 0;
	padding: 0;
}
